.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-indent: 5px;
    width: 250px;
    height: 280px;
    border-radius: 8px;
    box-shadow: rgba(91, 91, 189, 0.2) 0px 7px 29px 0px;
    padding: 0;
}


.deletarbtn {
    background-color: #d80202;
    color: white;
    font-weight: bold;
    font-size: small;
    align-items: center;
    transition: all 0.1s linear 0.1s;
    margin: 2px;
}

.editarbtn {
    background-color: #02add8;
    color: white;
    font-weight: bold;
    font-size: small;
    align-items: center;
    transition: all 0.1s linear 0.1s;
    margin: 5px;
}
.card img {
    border-radius: 8px 8px 0 0;
    width: 250px;
    height: 200px;
}