
.consultorio {
    color: rgb(25, 4, 143);
    position: fixed;
    top: 1px;
    right: 700px;
    font-size: 300%;
    font-family: 'Times New Roman', Times, serif;
    transition: all 0.1s linear 0.1s;
}
.caixa {
    box-shadow: rgba(91, 91, 189, 0.2) 0px 7px 29px 0px;
    position: fixed;
    top: 200px;
    width: 30%;
    height: 60%;
}

.medicoLogo{
    position: fixed;
    width: 20%;
    top: 30%;
    left: 5%;
}
.consultaLogo{
    position: fixed;
    width: 20%;
    top: 30%;
    right: 60px;
}
.pacienteLogo{
    position: fixed;
    width: 20%;
    top: 30%;
    left: 40%;
}

.medicoLink {
    color: rgb(9, 11, 148);
    position: fixed;
    top: 600px;
    left: 170px;
    font-size: 180%;
    font-family: 'Times New Roman', Times, serif;
    transition: all 0.1s linear 0.1s;
}

.consultaLink {
    color: rgb(9, 11, 148);
    position: fixed;
    right: 150px;
    top: 600px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 180%;
    transition: all 0.1s linear 0.1s;
}

.pacienteLink {
    color: rgb(9, 11, 148);
    position: fixed;
    top: 70%;
    left: 750px;
    transition: all 0.1s linear 0.1s;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}


.caixa2 {
    box-shadow: rgba(91, 91, 189, 0.2) 0px 7px 29px 0px;
    position: fixed;
    top: 200px;
    left: 35%;
    width: 30%;
    height: 60%;
}







.caixa3 {
    box-shadow: rgba(91, 91, 189, 0.2) 0px 7px 29px 0px;
    position: fixed;
    top: 200px;
    left: 70%;
    width: 80%;
    height: 60%;
}

